@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  font-family: 'Poppins', sans-serif;
}

@media screen and (min-width: 1080px) {
  #hero {
    background-image: url('./assets/Mask Group 4.svg');
    background-size: full;
  }
  #about-us {
    background-image: url('./assets/About-Us.svg'), url('./assets/About-Us2.svg'), url('./assets/About-Us3.svg');
    background-size: 70vw, 20vw, 20vw; 
    background-position-x: -25vw, right, right;
    background-position-y: top, top, bottom;
  }
  #core-tech {
    background-image: url('./assets/Set-Of-Tri.svg');
    background-position-x: -50px;
    background-position-y: top;
    background-size: 25vw;
   }
   #contact-us {
    background-image: url('./assets/SingleTri.svg');
    background-position-y: top;
    background-position-x: 200px;
    background-size: 8vw;
  }

  #login-bg {
    background-image: url('./assets/About-Us.svg');
    background-size: 80vw; 
    background-position-x: -24vw;
    background-position-y: center;
  }
   
}

@media screen and (max-width: 1020px) {
  #hero {
    background-image: url('./assets/Mask Group 4.svg');
    background-size: 100vw auto;
  }
  #about-us {
    background-image: url('./assets/About-Us.svg'), url('./assets/About-Us2.svg'), url('./assets/About-Us3.svg');
    background-size: 70vw, 20vw, 20vw; 
    background-position-x: -40vw, right, right;
    background-position-y: top, top, bottom;
  }
  #core-tech {
    background-image: url('./assets/Set-Of-Tri.svg');
    background-position-x: -50px;
    background-position-y: top;
    background-size: 25vw;
   }
   #contact-us {
    background-image: url('./assets/SingleTri.svg');
    background-position-y: top;
    background-position-x: 200px;
    background-size: 8vw;
  }

  #login-bg {
    background-image: url('./assets/About-Us.svg');
    background-size: 80vw; 
    background-position-x: -24vw;
    background-position-y: center;
  }
   
}


@media screen and (max-width: 840px) {
  #hero {
    background-image: url('./assets/Mask Group 4.svg');
    background-size: 100vw auto;
  }
  #about-us {
    background-image: url('./assets/About-Us.svg'), url('./assets/About-Us2.svg'), url('./assets/About-Us3.svg');
    background-size: 55vw, 20vw, 20vw; 
    background-position-x: -20vw, right, right;
    background-position-y: top, top, bottom;
  }
  #core-tech {
    background-image: url('./assets/Set-Of-Tri.svg');
    background-position-x: -50px;
    background-position-y: top;
    background-size: 25vw;
   }
   #contact-us {
    background-image: url('./assets/SingleTri.svg');
    background-position-y: top;
    background-position-x: 200px;
    background-size: 8vw;
  }

  #login-bg {
    background-image: url('./assets/About-Us.svg');
    background-size: 70vw; 
    background-position-x: -24vw;
    background-position-y: center;
  }
   
}


/* MOBILE */
@media screen and (max-width: 540px) {
  #hero {
    background-image: url('./assets/Mask Group 4.svg');
    background-size: 620px auto;
    width: 580px;
  }
  #navbar{
    background-color: #0E77FF;
    width: 580px;
  }

  #about-us {
    background-image: url('./assets/About-Us.svg'), url('./assets/About-Us2.svg'), url('./assets/About-Us3.svg');
    background-size: 55vw, 16vw, 16vw; 
    background-position-x: -20vw, right, right;
    background-position-y: 40px, top, bottom;
    width: 540px;
  }
  #our-services {
    background-image: inherit;
    width: 580px;
  }
  #core-tech {
    width: 540px;
  }
  #contact-us {
    background-image: url('./assets/SingleTri.svg');
    background-position-y: center;
    background-position-x: 96px;
    background-size: 8vw;
    width: 580px;
  }
  #footer{
    width: 580px;
  }

  #login-bg {
    background-image: url('./assets/About-Us.svg');
    background-size: 90vw; 
    background-position-x: 10vw;
    background-position-y: center; /*-14vh*/
  }
}
